<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>crowchad</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="icon" href="../css/favicon.gif" type="image/png">  
</head>
<body class="dark-theme" id="bg">
    {{{body}}}
</body>
</html>
