<div class="lp">
    <header>
        <img class="img" src="./css/icon.png" alt="logo" width="32px">
        <h4>CrowdChat</h4>
    </header>
    <div class="lp-main">
        <h1>Connect with your team</h1>
        <h2>Real-time messaging, persistent history, and group chat rooms for seamless collaboration. Let your team communicate and connect with ease.</h2>
        <div class="lp-blocks">
            <div class="block">
                <h3>Real-time messaging</h3>
                <p>Instantly chat with your team members in real time, aiding efficient collaboration.</p>
            </div>
            <div class="block">
                <h3>Persisten history</h3>
                <p>View a room's chat history before you've even entered, providing insight and context.</p>
            </div>
            <div class="block">
                <h3>Group chat rooms</h3>
                <p>Create public or private chat rooms with different people, topics and purposes.</p>
            </div>
        </div>
    </div>
    <footer>
        <form action="/auth/login" method="get">
            <button type="submit">Start Chatting</button>
        </form>
    </footer>
</div>