<div class="app0 logres">
    <div class="screen join-screen">
        <form class="form" action="" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <h2>Create your account</h2>
            <h4>Sign up to start chatting using your username</h4>
            <div class="form-input">
                <div class="form-box">
                    <label>Username</label>
                    <input type="text" id="username" name="username" placeholder="example" pattern="^\S{1,15}$" title="Username must be between 1 and 15 characters without spaces" required maxlength="15">   
                </div>
                <div class="form-box">
                    <label>Password</label>
                    <input type="password" id="password" name="password" placeholder="********" required minlength="8" maxlength="255" title="Password must be between 8 and 255 characters">  
                </div>
                <div class="form-box">
                    <label>Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="********" required>  
                </div>
            </div>
            <div class="form-input">
                <button type="submit" id="join-user">Sign Up</button>
            </div>
            <h4>Already have an account? <a href="/auth/login">Log in</a></h4>
            {{#if error}}
            <p class="logreg-error">{{error}}</p>
            {{/if}}
        </form>
    </div>
</div>
