@import url(login.css);
@import url(app.css);
@import url(landing.css);

.light-theme {
    --text-color: #111518;
    --wcolor: #11151840;
    --btntext-color: #FFFFFF;
    --main-color: #FFFFFF;
    --sub1-color: #E3E4E8;
    --sub2-color: #C5CAD6;
    --lb-color: #F0F3F4;
    --scroll-color: #F0F3F435;
    --highlight-color: #3B82F6;
}

.dark-theme {
    --text-color: #FFFFFF;
    --wcolor: #FFFFFF40;
    --btntext-color: #FFFFFF;
    --main-color: #111518;
    --sub1-color: #182024;
    --sub2-color: #38434F;
    --lb-color: #212A31;
    --scroll-color: #212A3135;
    --highlight-color: #3B82F6;
}

#bg {
    background-image: url(./Group33.png);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--main-color) inset;
    -webkit-text-fill-color: var(--text-color) !important;
    caret-color: var(--text-color);
    border: 1px solid var(--main-color);
    outline: 1px solid var(--main-color);
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--sub2-color);
    border-radius: 5px; 
}
::-webkit-scrollbar-track {
    background-color: var(--scroll-color); 
}
::-webkit-scrollbar-button {
    display: none;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (max-width:764px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
     .app0 {
        border: none;
        box-shadow: none;
    }

     .left-bar .header .icon-group .titleH{
         overflow: hidden;
         max-width: 100%;
     }

     .chat{
        max-width: 100%;
        min-height: 100%;
    }
    .chat-screen {
        max-width: 100%;
        min-width: 100%
    }

    .left-bar{
        display: none;
        width: 100%;
        max-width: 100%;
        border: none;
        border-radius: 0;
    }

    .left-bar .header #left-to-right{
        display: block;
    }
     .chat-screen .header .left-group #to-left{
         display: block;
     }
     .left-bar .header .icon-group .titleH{
        overflow: hidden;
        max-width: 100%;
    }
    .right-bar{
        max-width: 100%;
    }
    .lp .lp-blocks {
        display: none;
    }
}

@media (min-width:765px) { 
    .left-bar{
        border: none;
        border-radius: 0%;
    }
    .right-bar{
        display: none;
    }
    .chat{
        max-width: 100%;
        min-height: 100%;
    }
    .chat-screen {
        width: 100%;
        max-width: 100%;
        min-width: 0%;
    }
    .chat-screen{
        display: flex !important;
    }
}

@media (min-width:1156px) { /* hi-res laptops and desktops */ 
    .chat {
        max-height: 820px;
        max-width: 1236px;
        min-height: 0%;
    }
     
    .chat-screen{
        width: 600px;
        min-width: 600px;
    }
    

    .left-bar {
        display: flex !important;
        border-radius: 1.4375em 0px 0px 1.4375em;
    }

    .right-bar {
        display: flex;
    }
}

@media screen and (max-width: 1155px){
    .app {
        border: none;
        box-shadow: none;
    }
    .chat-screen .header #to-right{
        display: block;
    }
    .right-bar .header .group-r #right-to-left {
        display: block;
    }
    .right-bar{
        display: none;
        width: 100%;
    }
}